*{

    box-sizing: border-box;

    margin: 0;

    padding: 0;

    color: #fff;

    user-select: none;

    font-family: cursive;

}

body{

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    background: linear-gradient(to right, #1a237e, #ff1744);

}

div{

    text-align: center;

    font-size: 15rem;

}

#a,#i,#b,#h,#c,#u,#complete{

    display: none;

}
