*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
section{
    overflow: hidden;
}

div{
    position: relative;
}
#rangeValue{
    position: relative;
    text-align: center;
    display: block;
    font-size: 6rem;
    font-weight: 800;
    z-index: 1;
    color: #ff0000;
}
#rangeValue::after{
    content: "%";
}