*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: none;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}